/*то что используется к тксту*/
p{
    font-size: 14px; /*размер шрифта */
    font-family:'Times New Roman', Times, serif; /*тип шрифта */
    font-weight: bold; /*толщина */
    font-style: italic; /*стиль */
    font-stretch: wider; /*растояние между буквами*/
    color:rgb(209, 141, 141); /*цвет текста*/
    color:rgba(209, 141, 141, 0.9); /*а - добовляет прозрачность*/
    background-color: aqua; /*фон - выделения*/
    text-transform: uppercase; /*регистр uppercase, lowercase*/
    letter-spacing: 5px;
    word-spacing: 10px;
    opacity: 0.5; /*прозрачность для всего элемента*/

}
h1{
  
    color:rgb(209, 141, 141); /*цвет текста*/
}
/*атрибут class является глобальным и можно задать для любого элеиента
созданный класс стилей можно использовать для любого кол-во элементов*/
 .mark_for_paragraph{
background-color:blue;
font-weight:bold;
 }
 p{
     font-size: 16px;
     font-weight: normal;
 }

 .text_to_uppercase{
     text-transform: uppercase;
 }
